[Desktop Entry]
Version=1.5
Type=Application
Name=Grok
Comment=Grok
TryExec=chromium
Exec=chromium --password-store=basic --new-window --ozone-platform=x11 --app=https://grok.com/ --class=Grok
Terminal=false
Icon=/home/steve/.local/share/applications/icons/Grok.png
StartupNotify=true
StartupWMClass=Grok
